body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-header {
    background-color: #44463a;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
    padding-left: 25px;
    padding-right: 25px;
}
.logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-navigation {
    display: flex;
    flex-flow: row wrap;
}
.main-navigation a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.7em;
}