body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}
.main-header {
    background-color: #44463a;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
    padding-left: 25px;
    padding-right: 25px;
}
.logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-navigation {
    display: flex;
    flex-flow: row wrap;
}
.main-navigation a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.7em;
}
.user-nav {
    display: flex;
    flex-flow: row wrap;
}
.user-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.7em;
}

.dropdown {
    position: relative;
}
.dropdown a {
    display: block;
}
.dropdown > a::after {
    content: "\25bc";
    font-size: 0.5em;
    margin-left: 0.5em;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: black;
    max-height: 0px;
    overflow: hidden;
    min-width: 100%;
}
.dropdown:hover .dropdown-menu {
    max-height: 50vh;
}
.dropdown-menu a {
    white-space: nowrap;
}

